@font-face {
  font-family: "display";
  src: url("./fonts/KZGoodVibes.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "accent";
  src: url("./fonts/Fk Arabik.kz.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "KZPFMonumentaPro";
  src: url("./fonts/KZPFMonumentaPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "KZ_RomulC";
  src: url("./fonts/Romulc.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Bika";
  src: url("./fonts/Bickham_Script_Pro_3_Regular.otf") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "miama";
  src: url("./fonts/Miama_Nueva_kz.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "body";
  src: url("./fonts/TildaSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "body";
  src: url("./fonts/TildaSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "body";
  src: url("./fonts/TildaSans-Semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "body";
  src: url("./fonts/TildaSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  margin: 0;
  background-color: #fffbec;
  font-family: "body", Arial, sans-serif;
  font-weight: 400;
}
